<div id="about">
    <div id="about-section">
        <section class="description">
            <h3 class="about-heading">Get Your Photo on the MTA Kiosks</h3> <!--Example first paragraph for about section-->
            <p class="about-par">Each week a contest will be lauched by a different sponsoring company, and those companies are looking for <em>your</em>  photos!  Be sure to submit photos relevant to that week's specified campaign. You can submit photos on both our website and mobile app in hopes that your best shot will make it onto all 140 kiosk screens to be seen by millions of New York City subway riders. Remember to vote for your favorite photo and see if it makes it onto the big screen in the big apple!</p>
       </section>
      <section class="description">
            <h3 class="about-heading">What to Expect</h3> <!--Example second paragraph for about section-->
            <p class="about-par">The voting for any given campaign opens on Monday at 3:00pm and closes later that same week on at 3:00pm on Friday. The winning photo will be announced the day after voting closes, so remember to stay tuned! The following week's campaign details will be announced 24 hours before the voting period for that campaign beings. Go out there and Show NYC what you've got!</p>
        </section>
        <h3 id="grid-head" class="about-heading">Check Out Past Campaign Winners</h3>
    </div>
    <div class="image-zoom-container-about">  <!--Grid of past campaign winning photos-->
        <div class="zoom-container-about" ng-repeat="photo in photos | orderBy:sortType:sortReverse">
            <img id="{{photo.newId || 'hide'}}" src='{{photo.newSrc}}'>
            <a href="{{photo.image}}" data-lightbox="example"><img class="example-" src="{{photo.image}}" alt="image"/></a>
        </div>
    </div>
</div>
