<div id="submit">
        <h2 align = "center">Submit page</h2>
        <div class = "grid-block-container">
            <div class = "grid-block slide">
                <div class = "caption">
                    <h6>Caption 1 title</h6>
                    <p>Campaign 1 description (optional)</p>
                    <p><a href="#" class = "learn-more">Learn More</a></p>
                </div>
                <img src="http://www.dog-obedience-training-review.com/sites/default/files/Labrador-Retriever-Puppies.jpg">
            </div>
            <div class = "grid-block slide">
                <div class = "caption">
                    <h6>Caption 2 title</h6>
                    <p>Campaign 2 description (optional)</p>
                    <p><a href="#" class = "learn-more">Learn More</a></p>
                </div>
                <img src="http://www.dog-obedience-training-review.com/sites/default/files/Labrador-Retriever-Puppies.jpg">
            </div>
            <div class = "grid-block slide">
                <div class = "caption">
                    <h6>Caption 3 title</h6>
                    <p>Campaign 3 description (optional)</p>
                    <p><a href="#" class = "learn-more">Learn More</a></p>
                </div>
                <img src="http://www.dog-obedience-training-review.com/sites/default/files/Labrador-Retriever-Puppies.jpg">
            </div>
        </div>

    </div>
