<div id="submit" class="noselect">
    <div id = "submit-title">
        <h3>Show NYC What You've Got</h3>  <!--Example of a campaign description/call to action that would be on the submit section-->
        <p>This week's campaign: <strong>Starbuck's White Cup Contest</strong></p>
        <p>Starbucks is inviting you to put your most creative doodle on it's iconic white cup. Decorate your cup, take a photo of it, and submit your design here—it's that simple!</p>
        <br>
        <br>
    </div>
    <div id = "submit-step1">
        <br>
        <h3>What's Your Name?</h3> <!--Name submission-->
        <br>
        <form>
            <input type = "text" name = "name"> <!--User text input-->
        </form>
        <br>
        <br>
        <p>Wait...Why do you need my name?  Don't worry, we won't use your name for anything other than to personalize the emails that we send to you!</p>
        <br>
    </div>
    <div id = "submit-step2">
        <br>
        <h3>What's Your Email?</h3>
        <br>
        <form>
            <input type = "text" name = "email-address"> <!--User text input-->
        </form>
        <br>
        <br>
        <p>Ugh...Am I going to get bombarded with emails? No, of course not! We will only email you to notify you if your photo won this weeks contest, so keep an eye on that inbox!</p>
        <br>
    </div>
    <div id = "submit-photo">
        <br>
        <h3>What's Your Photo?</h3> <!--User photo input-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <label class="filebutton">
            UPLOAD <!--I want to limit the types of files that can be uploaded-->
            <span><input type="file" id="myfile" name="myfile" accept =".jpg, .png"></span>
        </label>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <label class = "submission">
            <input type="submit" id = "mySubmit" value="SUBMIT" class = "btn-style">
        </label>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
