<div id="vote" class="wrap">
  <div id = "campaign">
    <h3 id = "campaign-slogan">ENTER THEME HERE</h3>
  </div>

  <div class="image-zoom-container-vote"> <!--Grid of vote photos-->
    <div class="zoom-container-vote" ng-repeat="photo in photos | orderBy:sortType:sortReverse">
      <!-- <img src='{{photo.image}}'> -->
      <a href="{{photo.image}}" data-lightbox="example"><img class="example-" src="{{photo.image}}" alt="image"/></a>
      <div>
        <style>
          #emptyHeart{{photo.id}}{
            height: 25px;
            width: 25px;
            margin-top: -60px;
            padding-left: 10px;
            cursor: pointer;
          }
        </style>
          <img id = 'emptyHeart{{photo.id}}' ng-click='isClicked || upvote(photo.id);isClicked || (photo.score = photo.score + 1);isClicked || changeImage(photo.id);isClicked=true' ng-disabled='isClicked' src="static/icons/EmptyHeartRed.png">
          <p id = "photoScore">{{photo.score}}</p>
      </div>
    </div>
  </div>
</div>

