container_commands:
  00_npm_install:
    command: "npm install"
  01_bower_install:
    command: "bower install --allow-root"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python kiosk_cms/manage.py migrate --noinput &>> /tmp/deploy.log
    leader_only: true
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python kiosk_cms/manage.py createsu &>> /tmp/deploy.log
    leader_only: true
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python kiosk_cms/manage.py collectstatic --noinput &>> /tmp/deploy.log"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "kiosk_cms.settings"
    "PYTHONPATH": "/opt/python/current/app/kiosk_cms:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: kiosk_cms/kiosk_cms/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"