container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python kiosk_cms/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python kiosk_cms/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python kiosk_cms/manage.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "kiosk_cms.settings"
    "PYTHONPATH": "/opt/python/current/app/kiosk_cms:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: kiosk_cms/kiosk_cms/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"