body {                                        /*Body*/
  font-family: 100% "Changa One";
  font-size: 16px;
  background-color: white; 
  color: black; 
  padding: 18px;
  background: white;
  left: 0;
  margin: 0;}
h1 {                                               /*Heading 1*/ 
  font-family: 100% "Changa One";
  color: white;
  font-size: 50px;
  text-align: center;}
h2 {                                               /*Heading 2*/
  font-family: 100% "Changa One";
  color: white;
  font-size: 30px;
  background-color: #7A0000;}
h3 {                                               /*Heading 3*/
  font-family: 100% "Changa One";
  font-size: 20px;
  font-style: italic;
  color: #7A0000;
  text-align: center;}
h4 {                                               /*Heading 4*/
  font-family: 100% "Changa One";
  font-size: 15px;
  font-style: bold;
  color: #7A0000;
  text-align: center;}
header {                                           /*Header*/
  background-color: #00ff73;}
p{                                                 /*Paragraphs*/
  color: #7A0000;
  font-size: 15px;}
a{                                                 /*Links*/
  color: yellow;}
/* unvisited link */
a:link {
  color: red;
  font-style: normal;
  text-decoration: none;
  font-size: 20px;
  font-family: 100% "Changa One";}
/* visited link */
a:visited {
  color: black;}
/* mouse over link */
a:hover {
  color: #7A0000;}
/* selected link */
a:active {
  color: #7A0000;}
/*WHY CAN'T I RESIZE THESE?*/
#centerCenter {                                    /*Center images*/
  vertical-align: center;
  background-color: white;
  text-align: center;}
/*Four page displays*/                            /*Initial page display*/
#about {display: none;}
#vote {display: block;}
#gallery{display: none;}
#submit{display: none;}
/*Buttons*/
.tabs {                                           /*Buttons class (.tabs)*/
    font-family: 100% "Changa One";
    color: black;
    font-size: 20px;
    background: pink;
    padding: 10px 10px 10px 10px;
    text-align: center;}
/*Four buttons*/                                  /*Buttons*/
#voteButton{
    height: 100%;
    width: 20%;
    border: none;
    background-color: purple;
    font-size: 15px;
    color: white;}
#submitButton{
    height: 100%;
    width: 20%;
    border: none;
    background-color: purple;
    font-size: 15px;
    color: white;}
#galleryButton{
    height: 100%;
    width: 20%;
    border: none;
    background-color:purple;
    font-size: 15px;
    color: white;}
#aboutButton{
    height: 100%;
    width: 20%;
    border: none;
    background-color:purple;
    font-size: 15px;
    color: white;}
/*Menu*/
.menu {                                          /*Slide out menu*/
  background-color: #ef962e;
  height: 100%;
  position: fixed;
  width: 200px;}
.icon-close {                                    /*Menu slide out icon*/
  cursor: pointer;
  font-size: 18px;
  color: white;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-top: 10px;}
.icon-menu {                                     /*Menu banner*/
  color: white;
  background-color: magenta;
  cursor: pointer;
  font-family: 100% "Changa One";
  font-size: 18px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;}
.slide-menu {
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;}
.menu ul {                                      /*Menu option layout*/
  list-style: none;
  margin: 0;
  padding: 0;}
.menu li {                                      /*Menu option style*/
  font-family: 100% "Changa One";
  background-color: blue;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;}
.menu a {                                       /*Menu listing style*/
  color: white;
  font-family: 100% "Changa One"; 
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;}