<div id="about">
        <div id = "long-header">
            <h3 id = "long-header">Get your photo on the MTA Kiosks!</h3>
            <p id = "long-header">Each week a contest will be lauched by a different sponsoring company, and those companies are looking for <em>your</em> photos!  Be sure to submit photos relevant to that week's specified company. You can submit photos on both our website and mobile app in hopes that your best shot will make it onto all 140 kiosk screens to be seen by millions of New York City subway riders. Remember to vote for your favorite photo and see if it makes it onto the big screen in the big apple!</p>
            <br>
            <br>
            <h3 id = "long-header">Check Out Past Campaign Winners</h3>
            <br>
        </div>
        <div>
            <ul class="photo-grid">
                <li>
                    <a href="http://www.controlgroup.com/">
                        <figure>
                            <img src="https://s-media-cache-ak0.pinimg.com/736x/3f/f4/72/3ff472e6fcc493d3305c96d7a2dd3475.jpg">
                            <figcaption>
                                <p>Caption about campaign 1</p>
                            </figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="http://www.controlgroup.com/">
                        <figure>
                            <img src="https://s-media-cache-ak0.pinimg.com/736x/3f/f4/72/3ff472e6fcc493d3305c96d7a2dd3475.jpg">
                            <figcaption>
                                <p>Caption about campaign 2</p>
                            </figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="http://www.controlgroup.com/">
                        <figure>
                            <img src="https://s-media-cache-ak0.pinimg.com/736x/3f/f4/72/3ff472e6fcc493d3305c96d7a2dd3475.jpg">
                            <figcaption>
                                <p>Caption about campaign 32</p>
                            </figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="http://www.controlgroup.com/">
                        <figure>
                            <img src="https://s-media-cache-ak0.pinimg.com/736x/3f/f4/72/3ff472e6fcc493d3305c96d7a2dd3475.jpg">
                            <figcaption>
                                <p>Caption about campaign 4</p>
                            </figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="http://www.controlgroup.com/">
                        <figure>
                            <img src="https://s-media-cache-ak0.pinimg.com/736x/3f/f4/72/3ff472e6fcc493d3305c96d7a2dd3475.jpg">
                            <figcaption>
                                <p>Caption about campaign 5</p>
                            </figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="http://www.controlgroup.com/">
                        <figure>
                            <img src="https://s-media-cache-ak0.pinimg.com/736x/3f/f4/72/3ff472e6fcc493d3305c96d7a2dd3475.jpg">
                            <figcaption>
                                <p>Caption about campaign 6</p>
                            </figcaption>
                        </figure>
                    </a>
                </li>
            </ul>
        </div>
    </div>
