{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Show NYC</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/dist/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/dist/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/CSSpracticeWebsite.css' %}">
  <link rel="stylesheet" href="{% static 'css/hover.css' %}">
  <script src="{% static 'bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js' %}"></script>
  <link href='http://fonts.googleapis.com/css?family=Changa+One|Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">
</head>

<body>
  <header class = "noselect"> <!--Header-->
    <img class="icon-menu" width="24" height="24" src="{% static 'icons/menu48.png' %}">
    <h1 id = "show-nyc">SHOW NYC</h1> <!--header for all sections-->
  </header>
  <!-- Submit ribbon call to action -->
  <div class="ribbon">
    <a href="#/submit">Submit your photo</a>
  </div>
  <div class = "noselect">
    <div class="menu">
      <div class="icon-close"> <!--Slide out navagation menu-->
        <h1>SHOW NYC</h1>
        <nav>
            <ul class="nav-list"> <!--Navagation options-->
                <li><a href="#/vote" id ="voteButton">Vote</a></li>
                <li><a href="#/gallery" id ="galleryButton">Archive</a></li>
                <li><a href="#/submit" id ="submitButton">Submit</a></li>
                <li><a href="#/about" id ="aboutButton">About</a></li>
            </ul>
        </nav>
        <div id="share-buttons"> <!--Share via social media-->
            <a href="http://www.facebook.com/sharer.php?u=https://controlgroup.com" target="_blank">
                <img src="{% static 'icons/FacebookWhite.png' %}" alt="Facebook" />
            </a>
            <a href="http://www.twitter.com/share?url=http://www.controlgroup.com/&amp;name=Control Group Interns&hashtags=IntersAtCG" target="_blank">
                <img src="{% static 'icons/TwitterWhite.png' %}" alt="Twitter" />
            </a>
            <a href="https://plus.google.com/share?url=https://controlgroup.com" target="_blank">
                <img src="{% static 'icons/GoogleWhite.png' %}" alt="Google" />
            </a>
        </div>
      </div>
    </div>
  </div>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  {% verbatim %}
  <div ng-view></div>
  {% endverbatim %}
  <!-- <div>Angular seed app: v<span app-version></span></div> -->

  <!-- In production use:
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{% static 'bower_components/angular/angular.js' %}"></script>
  <script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
  <script src="{% static 'bower_components/angular-img-cropper/dist/angular-img-cropper.min.js' %}"></script>
  <script src="{% static 'js/angular/app/app.js' %} "></script>
  <script src="{% static 'js/angular/app/vote/vote.js' %} "></script>
  <script src="{% static 'js/angular/app/gallery/gallery.js' %} "></script>
  <script src="{% static 'js/angular/app/submit/submit.js' %} "></script>
  <script src="{% static 'js/angular/app/about/about.js' %} "></script>
  <script src="{% static 'js/angular/app/components/version/version.js' %} "></script>
  <script src="{% static 'js/angular/app/components/version/version-directive.js' %} "></script>
  <script src="{% static 'js/angular/app/components/version/interpolate-filter.js' %} "></script>
  <script src="{% static 'js/angular/app/controllers.js' %} "></script>
  <script src="{% static 'js/angular/app/services.js' %} "></script>
  <script src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "3d484258-68cb-4e80-b286-ef191078786b", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  <script src= "{% static 'js/angular/app/ui_js/ui.js' %} "></script>
  <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
  <script src="{% static 'js/JQpracticeWebsite.js' %}"></script>
  <footer>
    <p>Created by: Control Group Interns 2015<br>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
  </footer>

  <div class="scroll-top-wrapper ">
    <span class="scroll-top-inner">
      <i class="fa fa-2x fa-arrow-circle-up"></i>
    </span>
  </div>
</body>
</html>
