<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <title>SHOW NYC</title>
    <link rel="stylesheet" type="text/css" href="../css/app.css">
  </head>
  <body class="noselect">
    <div id="container">

      <section id="section1" class="kiosk-sec">
        <header class="first-page-header">
          <h1 id="show-nyc">SHOW NYC</h1>
          <h3 id = "tag-line">Show NYC what you've got! </h3>
          <p class="blurb">No one knows what this should be :-(</p>
        </header>
        <main class="winner">
          <h5> Check out Last week's winner for</h5> 
          <h3 class="campaign-name">{{campaign.name}} </h3>
          <img src="img/{{winning_image}}" width="665" height="500"/>
          <p>Photo by <span id="photo-author">{{winning_image.user_id.first_name}}</span></p>
        </main>
      </section>

      <section id="section2" class="kiosk-sec">
        <header class="other-page-header">
          <h1>Show NYC</h1>
          <h3 class="campaign-name">{{campaign.name}}</h3>
        </header>
        <main class="photo-grid">
        {% for image in top_images %}
            <div class="img-holder">
              <img class="about-img" width="540" height="405" src="img/{{image}}"/>
              <img class="nested-img" width="540" height="405"  src="img/"/>
            </div>
        {% endfor %}
        </main>
      </section>

      <section id="section3" class="kiosk-sec">
        <header class="other-page-header">
          <h1>Show NYC</h1>
        </header>
        <div class="more">
          <h3>Submit your Photos </h3>
          <img src=""/>
          <p>GO TO INTERN-CMS-DEV.ELASTICBEANSTALK.COM </p>
          <p>DOWNLOAD OUR MOBILE APP SHOW NYC </p>
        </div>
        <main class="weekly-theme">
          <h5>This week's theme is</h5>
          <h3>{{next_campaign.name}}</h3>
          <img src="img/{{next_campaign.stock_image}}" width="665" height="500" />
        </main>
      </section>

    </div>
  </body>
  <script src="../js/app.js"></script>
</html>