/*  Colors:   Yellow: #FFAA00     Red: #DE4831      Green: #19A65C      Charcole: #333333*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {                                                  /*Body*/
  font-family: "Raleway";
  font-size: 16px;
  color: black;
  background-color: #f9f9f9;
}
h1 {                                                  /*Heading 1*/
  font-family: "Changa One";
  color: white;
  letter-spacing: 4px;
  font-size: 30px;
  background-color: none;
}
h2 {                                                  /*Heading 2*/
  font-family: "Raleway";
  margin-top: -30px;
  color: black;
  font-size: 30px;
  background-color: white;
  text-align: center;
  font-weight: bold;
  vertical-align: center;
}
h3 {                                                  /*Heading 3*/
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  color: black;
}
header {                                              /*Header*/
  background: #FFAA00;
  height: 80px;
  overflow: none;
  width: 100%;
}
header > h1 {
  display: inline-block;
}
p{                                                  /*Paragraphs*/
  color: #333333;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: inherit;
}
input {                                              /*Form*/
  text-align: left;
  vertical-align: center;
  float: center;
  margin: 0 auto;
  padding-left: 33.33%;
  padding-bottom: 10px;
}
input[type = "text"]{                              /*Text input*/
  display: block;
  width: 50%;
  height: 40px;
  font-size: 20px;
  color: #DE4831;
  letter-spacing: 4px;
  vertical-align: center;
  float: center;
  opacity: 1.0;
  padding-left: 10px;
}
input[type = "email"]{                              /*Text input*/
  display: block;
  width: 50%;
  height: 40px;
  font-size: 20px;
  color: #DE4831;
  letter-spacing: 4px;
  vertical-align: center;
  float: center;
  opacity: 1.0;
  padding-left: 10px;
}
footer {
  background-color: #FFAA00;
  color: white;
  font-family: "Raleway";
  font-size: 18px;
  width: 100%;
  height: 70px;
}
footer > p {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}
footer > p span  {
  opacity: 0.75;
}
#show-nyc {
  font-family: "Changa One";
  color: white;
  letter-spacing: 4px;
  font-size: 35px;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
/*Four page displays and headers*/                 /*Initial page display*/
#about {
  background-color: #f9f9f9;
  overflow: hidden;
}
#vote {
  display: block;
  background-color: white;
}
#gallery{
  background-color: white;
  height: 100%;
  display: block;
  overflow: hidden;
}
#submit{
  text-align: center;
  overflow-y: auto;
}
.mobile {
  display: none;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.info-text {
  margin-top: 60px;
  margin-bottom: 20px;
  height: 100%;
  padding: 5%;
}
.info-text h2 {
  text-align: center;
  font-size: 20px;
  background-color: #f9f9f9;
}
.info-text h3 {
  text-align: center;
  font-size: 20px;
    color: #de4831;
}
.info-text p {
  text-align: center;
  font-size: 15px;
}
.info-text > button {
  font-weight: 800;
  background-color: #DE4831;
  border: none;
  color: white;
  padding: 5px;
}
/*Buttons*/
.tabs {                                            /*Buttons class (.tabs)*/
    font-family: "Raleway";
    padding-top: 10px;
    text-align: center;
  }
/*Four buttons*/                                  /*Buttons*/
#voteButton{
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-family: "Raleway";
    display: block;
    height: 30px;
    width: 75px;
  }
#submitButton{
    cursor: pointer;
    font-size: 20px;
    color: white;
    display: block;
    height: 30px;
    width: 100px;
  }
#galleryButton{
    cursor: pointer;
    font-size: 20px;
    color: white;
    display: block;
    height: 30px;
    width: 100px;
  }
#aboutButton{
    cursor: pointer;
    font-size: 20px;
    color: white;
    display: block;
    height: 30px;
    width: 90px;
  }
#share-buttons {                                 /*Share icon positioning*/
    margin-top: 100px;
    margin-left: 10%;
    max-width: 150px;
}
#share-buttons img {                             /*Share icon sizing*/
  width: 20px;
  height: 20px;
  padding: 10px;
}
.noselect {                                      /*No select class*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#select {
  font-family: "Raleway";
  font-size: 15px;
  color: #333333;
  letter-spacing: 3px;
  font-weight: 500;
  background-color: #f9f9f9;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 auto;
  width: 300px;
  padding-top: 6px;
  border: solid #333333 2px;
  margin-top: -40px;
  margin-bottom: 30px;
  height: 25px;
}
#submit h3 {                                     /*Submit section h3 headers*/
  letter-spacing: 2px;
  font-size: 20px;
}
.btn-style{                                       /*Submit Button*/
  font-family: "Raleway";
  border : dashed 2px #333333;
  font-size : 18px;
  color : #333333;
  letter-spacing: 3px;
  font-weight: 400;
  padding : 10px 30px;
  background-color : #f9f9f9;
  cursor: pointer;
  margin-top: 30px;
  text-transform: uppercase;
}
.btn-style:hover {                                /*Submit Button Hover*/
  font-family: "Raleway";
  border : solid 2px #DE4831;
  font-size : 18px;
  color : #DE4831;
  letter-spacing: 3px;
  font-weight: 400;
  padding : 10px 30px;
  cursor: pointer;
}
/*Menu*/
.menu {                                          /*Slide out menu*/
  background-color: #19A65C;
  cursor: default;
  position: fixed;
  height: 100%;
  top: 0;
  padding: 0;
  left: -300px;
  width: 300px;
  z-index: 15;
}
.icon-close {                                   /*Menu slide out icon*/
  position: relative;
  font-size: 30px;
  color: white;
  margin-top: 10%;
}
.icon-close > h1 {
  font-size: 48px;
  margin-left: 15%;
  max-width: 200px;
}
.icon-menu {
  position: absolute;                              /*Menu banner*/
  margin-left: 5%;
  top: 4.5%;
  cursor: pointer;
}
#menu-shownyc {                                     /*Heading 1*/
  font-family: "Changa One";
  color: white;
  padding-top: 20px;
  letter-spacing: 4px;
  font-size: 36px;
  background-color: none;
}
.wrap {
    position: relative;
}
.slide-menu {
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.menu ul {                                      /*Menu option layout*/
  list-style: none;
  margin: 0;
  letter-spacing: 3px;
  padding-top: 20px;
  max-width: 200px;
}
.menu li {                                      /*Menu option style*/
  background-color: none;
  padding-bottom: 3px;
  padding-top: 25px;
}
.menu a {                                       /*Menu listing style*/
  font-family: "Raleway";
  letter-spacing: 2px;
  font-size: 18px;
  text-decoration: none;
}
.menu a:hover {
  opacity: 0.5;
}
#about-section {                                  /*About section extended header*/
  color: #333333;
  overflow: hidden;
  width: 100%;
}
.description {
  width: 80%;
  margin: 50px auto;
  background-color: #f9f9f9;
  text-align: left;
}
.about-heading {
  padding: 20px 20px 0px 0px;
  letter-spacing: 2px;
  font-size: 30px;
  font-family: "Raleway";
  color: #333333;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  background-color: #f9f9f9;
}
.about-par{
  text-align: left;
  color: #333333;
  font-size: 17px;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 25px;
  background-color: #f9f9f9;
}
#grid-head {
  text-align: center;
  margin-bottom: 0px;
}
/*Header for Submit and About sections*/
#campaign {                                    /*Vote Section Campaign Information*/
  overflow: auto;
  background-color: #f9f9f9;
  max-height: 300px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.filter {
  background: #FFAA00;
  width: 100%;
  height: 55px;
  border-top: 1px solid white;
  margin: auto;
  text-align: center;
}
.filter-list {
  width: 450px;
  padding-left: 0;
  height: inherit;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  float: center;
}
.filter-list li {
  float: none;
  font-size: 14px;
  display: inline-block;
  height: inherit;
  font-weight: 500;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  text-transform: uppercase;
  padding-top: 20px;
}
.filter-list li a:hover, #campaign-list:hover{
  opacity: 0.5;
}
#campaignFilter {
  width: 120px;
}
#campaignFilter > img {
  position: absolute;
  margin-top: 5px;
  margin-left: -22px;
  pointer-events: none;
}
#firstFilter {
  border-left: 2px solid white;
}
.filter-list li:hover {
  opacity: 0.5;
}
#campaign-list {
  text-transform: uppercase;
  color: white;
  z-index: 10;
  border: none;
  outline:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background: transparent;
  cursor:pointer;
  width: 110px;
}
/* V O T E   S E C T I O N   P H O T O   G R I D */
.image-zoom-container-vote{                    /*Photo grid layout*/
  list-style: none;
  height: 20%;
}
.zoom-container-vote{                          /*Photo grid layout*/
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 33.33%;
  padding-right: 0%;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.zoom-container-vote img{
  display: block;
  width: 100%;
  height: auto;
}
/* G A L L E R Y   S E C T I O N   P H O T O   G R I D */
.image-zoom-container-gallery{                 /*Photo grid layout*/
  list-style: none;
  background-color: white;
  position: relative;
  overflow: hidden;
}
.zoom-container-gallery{                       /*Photo grid layout*/
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 33.33%;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.zoom-container-gallery img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all .7s ease; /*ease into image zoom*/
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.zoom-container-gallery > div {
    background-color: #DE4831;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 25%;
    top: 75%;
    left: 0;
    -webkit-transition: opacity 0.3s linear;
}
.zoom-container-gallery:hover > div {
  display: block;
  opacity: .75;
}
.zoom-container-gallery:hover img {             /*image hover animation*/
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform:scale(1.1);
}
.loadingImages {
  text-transform: uppercase;
  font-size: 11px;
  width: 110px;
  height: 20px;
  text-align: center;
  margin: 15px auto;
  color: #DE4831;
}
/* A B O U T   S E C T I O N   P H O T O   G R I D */
.image-zoom-container-about{                    /*Photo grid layout*/
  list-style: none;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
  font-size: 0px;
  padding-top: 30px;
}
.zoom-container-about{                          /*Photo grid layout*/
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.zoom-container-about img{
  display: block;
  width: 100%;
  height: auto;
}
.zoom-container-about > div {
    background-color: #DE4831;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 25%;
    top: 75%;
    left: 0;
    -webkit-transition: opacity 0.3s linear;
}
.zoom-container-about:hover > div {
  display: block;
  opacity: .75;
}
.zoom-container-about p {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
    opacity: 1.0;
    z-index: 3;
}
/* S U B M I T    S E C T I O N */
#submit-title {                                   /*Submit section campaign information*/
  background-color: #f9f9f9;
  height: 100%;
  opacity: 1.0;
}
#submit-title h3{
  letter-spacing: 2px;
  font-size: 30px;
  color: #333333;
}
#submit-title h4 {
  color: #333333;
  text-align: center;
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto;
  display: inline-block;
}
#submit-title h5 {
  color: #00ABD5;
  text-align: center;
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto;
  display: inline-block;
}
#submit-title p {
  color: #333333;
  text-align: center;
  font-size: 15px;
  max-width: 600px;
  margin: 0 auto;
}
#submit-step1 {                                   /*Submit Section enter your name*/
  background-color: #f9f9f9;
  height: 100%;
  opacity: 1.0;
  cursor: default;
}
#submit-step1 h3 {
  letter-spacing: 2px;
  font-size: 30px;
  color: #333333;
}
#submit-step1 p {
  color: #333333;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
#submit-step2 {                                    /*Submit Section enter your email*/
  background-color: #f9f9f9;
  height: 100%;
  padding-bottom: 50px;
  opacity: 1.0;
  cursor: default;
}
#submit-step2 h3 {
  letter-spacing: 2px;
  font-size: 30px;
  color: #333333;
}
#submit-step2 p {
  color: #333333;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
#submit-photo {                                        /*Submit Section choose your photo*/
  background-color: #f9f9f9;
  height: 100%;
  padding-top: 20px;
  opacity: 1.0;
  cursor: default;
  display: inline}
#submit-photo h3 {
  letter-spacing: 2px;
  font-size: 30px;
  background-color: #f9f9f9;
  color: #333333;
}
#submit-photo p {
  color: #333333;
  text-align: center;
  font-size: 15px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
}
.uploadzone {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  border: solid #333333 10px;
  display: none;
}
.upload-container {
  position: relative;
  margin-bottom: 50px;
  width: 100%;
  margin-left: 0px;
}
#myfile {
  opacity: 0;
  cursor: pointer;
  width: 60%;
}
#myfile-smaller {
  width: 300px;
  float: center;
  text-align: center;
  margin: 0 auto;
}
#myfile-center {
  width: 100%;
  float: center;
  text-align: center;
  margin: 0 auto;
}
.scroll-top-wrapper {                                   /*Scroll to the top button*/
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 10;
  color: white;
  line-height: 40px;
  width: 40px;
  height: 40px;
  right: 15px; 
  bottom: 15px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: .80;
}
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
#campaign-slogan {
  font-size: 20px;
  font-family:'Raleway';
  text-align: center;
  letter-spacing: 3px;
  float: center;
  color: #00ABD5;
  display: inline-block;
}
#campaign-intro {
  font-size: 20px;
  font-family:'Raleway';
  text-align: center;
  letter-spacing: 3px;
  color: #333333;
  float: center;
  text-transform: uppercase;
  display: inline-block;
}
.ribbon {
  background-color: #DE4831;
  overflow-x: hidden;
  z-index: 4;
  text-transform: uppercase;
  /* top right corner */
  position: fixed;
  right: -35px;
  top: 8px;
  /* 45 deg cw rotation */
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 2px #DE4831;
     -moz-box-shadow: 0 0 2px #DE4831;
          box-shadow: 0 0 2px #DE4831;
}
.ribbon a {
  color: white;
  display: block;
  font-size: 14px;
  margin: 1px 0;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}
#emptyHeart, #fullHeart {
  height: 25px;
  width: 25px;
  display: inline-block;
  position: absolute;
}
#fullHeart{
  cursor: auto;
}
.vote-space {
  cursor: pointer;
  font-size: 0;
  overflow: none;
  position: absolute;
  margin-top: -35px;
  height: 60px;
  padding: 5px 14px 5px 12px;
  background-color: rgba(255,  255, 255, 0.5);
}
#winning-icon {
  position: absolute;
  height: 14%;
  width: 18%;
  min-height: 55px;
  min-width: 77px;
  max-height: 100px;
  max-width: 127px;
  top: 0px;
  margin-top: 0px;
  right: 0;
  padding-right: 0px;
  cursor: default;
}
#photoScore {
  display: inline-block;
  color: #DE4831;
  font-size: 18px;
  font-style: "Raleway";
  margin-left: 35px;
  margin-top: -1px;
}
.hvr-grow {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#myImg {
  cursor: pointer;
}
.cropArea {
  background-color: transparent;
  float: center;
  text-align: center;
  margin: 0 auto;
}
.highlight {
  opacity: .5;
}
.submit-container {
  margin: 0 auto;
  width: 100%;
}
#photo{
  text-align: center;
  cursor: pointer;
}
#load {
  text-align: center;}
#loading {
  margin-bottom: -20px;
  width: 40px;
  height: 10px;
}
#hide {
  display: none;
}
@media only screen and (max-width:1000px) and (min-width:650px) { 
 .zoom-container-gallery, .zoom-container-vote, .zoom-container-about{
      width: 50%;
  }
}
@media only screen and (max-width:650px) {
  .zoom-container-gallery img, .zoom-container-vote img, .zoom-container-about img {
  /*CSS transitions*/
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS transforms*/
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  }
  .filter-list{
    width: 400px;
  }
  .filter-list li {
    font-size: 12px;
  }
  .zoom-container-gallery, .zoom-container-vote, .zoom-container-about{
      width: 100%;
  }
  footer > p {
    width: 70%;
    font-size: 13px;
    padding-top: 5%;
  }
  #submit{
    display: block;
    overflow-y: auto;
    height: 100%;
  }
  .mobile {
    display: none;
  }
  .menu { 
    width: 50%;
  }
  #menu-shownyc {
    font-size: 28px;
  }
  #show-nyc {
    font-size: 150%;
  }
  #campaign-slogan {
    font-size: 12px;
  }
  #campaign-intro {
    font-size: 12px;
  }
  .menu ul {                                      /*Menu option layout*/
  padding-top: 10px;
  }
  #share-buttons {                                 /*Share icon positioning*/
    margin-top: 20px;
  }
}