body {                                             /*Body*/
  font-family: "Raleway";
  font-size: 16px;
  color: black; 
  padding: 0px;
  left: 0;
  margin: 0;
}
h1 {                                               /*Heading 1*/ 
  font-family: "Changa One";
  color: white;
  letter-spacing: 4px;
  font-size: 30px;
  background-color: none;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom:0px;
  padding-left: 20px;
}
h2 {                                               /*Heading 2*/
  font-family: "Raleway";
  margin-top: -30px;
  color: black;
  font-size: 30px;
  background-color: white;
  text-align: center;
  font-weight: bold;
  vertical-align: center;
}
h3 {                                               /*Heading 3*/
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  color: black;
  font-weight: bold;
  text-align: center;
}
h4 {                                               /*Heading 4*/
  font-family: "Raleway";
  font-size: 15px;
  font-style: bold;
  color: black;
  text-align: center;}

header {                                           /*Header*/
  background: #66da59;
  height: 100px;
}
header > h1 {
  margin-left: 95px;
  margin-top: -32px;
}
p{                                                 /*Paragraphs*/
  color: black;
  padding: 10px 10px 10px 10px;
  background: white;
  font-size: 15px;
}
a:hover {
  opacity: 0.5;
}
#centerCenter {                                    /*Center images*/
  vertical-align: center;
  background-color: white; /*this is used on the about page*/
  text-align: center;
}
/*Four page displays*/                            /*Initial page display*/
#about {
  display: none;
  background-color: white;
}
#vote {
  display: block;
  background-color: white;
}
#gallery{
  display: none;
  background-color: white;
}
#submit{
  display: none;
  background-color: white;
}
#show-nyc-about{
  display: none;
}
#filter{
  display: none;
}
/*Buttons*/
.tabs {                                           /*Buttons class (.tabs)*/
    font-family: "Raleway";
    padding: 10px 0px 0px 0px;
    text-align: center;
  }
/*Four buttons*/                                  /*Buttons*/
#voteButton{
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-family: "Raleway"; 
  }
#submitButton{
    cursor: pointer;
    font-size: 20px;
    color: white;
  }
#galleryButton{
    cursor: pointer;
    font-size: 20px;
    color: white;
  }
#aboutButton{
    cursor: pointer;
    font-size: 20px;
    color: white;
  }
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*Menu*/
.menu {                                          /*Slide out menu*/
  background-color: #ef962c;
  height: 100%;
  position: fixed;
  top: 0;
  padding: 0;
  left: -300px;
  width: 300px; /*width of the menu*/
  z-index: 15;
}
.icon-close {                                  /*Menu slide out icon*/
  cursor: pointer;
  position: relative;
  font-size: 30px; /*size of the "Menu" text*/
  color: white;
  left: 15px;
  padding-left: 0px; /*"Menu" spacing*/
  padding-bottom: 0px; /*"Menu" to options spacing*/
  padding-top: -100px;
  } 
.icon-close > h1 {
  font-size: 40px;
}
.icon-menu {                                    /*Menu banner*/
  margin-top: 25px;
  margin-left: 60px;
  cursor: pointer;
}
.wrap {
    position: relative;
}
.slide-menu {
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.menu ul {                                      /*Menu option layout*/
  list-style: none;
  margin: 0;
  letter-spacing: 3px;
  padding: 20px 0px 0px 0px;
}
.menu li {                                      /*Menu option style*/
  background-color: none;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 25px;
}
.menu a {                                       /*Menu listing style*/
  font-family: "Raleway"; 
  letter-spacing: 2px;
  font-size: 18px;
  text-decoration: none;
}


/*###########################################################################################*/

.image-zoom-container-gallery{                          /*Photo grid layout*/
  list-style: none;
  font-size: 0px;
  background-color: white;
}
.zoom-container-gallery{                               /*Photo grid layout*/
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 33.33%;
  border: 2px solid lightgreen; /*border around the images*/
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.zoom-container-gallery img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all .7s ease; /*ease into image zoom*/
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.zoom-container-gallery:hover img { /*image hover animation*/
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform:scale(1.25);
}
@media (max-width: :767px) {
  .zoom-container{
    width: 100%;}
  }


/*###########################################################################################*/

.image-zoom-container-vote{                          /*Photo grid layout*/
  list-style: none;
  font-size: 0px;
}
.zoom-container-vote{                               /*Photo grid layout*/
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 33.33%;
  border: 2px solid lightgreen; /*border around the images*/
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.zoom-container-vote img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all 2.5s ease; /*ease into image zoom*/
  -moz-transition: all 2.5s ease;
  -ms-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  transition: all 2.5s ease;
}
.zoom-container-vote:hover img { /*image hover animation*/
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform:scale(1.15);
}

/*###########################################################################################*/

#share-buttons {
    margin-top: 100px;
    margin-left: 7px;
}
#share-buttons img {
  width: 20px;
  height: 20px;
  padding: 10px;
}


.photo-grid { /*around the photos*/
  background-color: lightgreen;
  padding-top: 50px;
}
.photo-grid img {
  display: block; /*block = ocapity does not change on hover /// hidden = ocapicty decreases with hover*/
  overflow: hidden;
}
 
.photo-grid p{ /*slide down caption*/
  font-size: 15px;
  background-color: purple;
  position: relative;
  top: -300px; /*location of caption*/
  width: 300px; /*width of caption*/
  opacity: .8;
  letter-spacing: 2px;
  -webkit-transition: all 800ms ease-out;
  -moz-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
}
.photo-grid p:hover{
  -moz-transform: translateY(200px);
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
}






.grid-block-container{
  float: center;
}
.grid-block {
  position: relative;
  float: center;
  background-color: green;
  text-align: center;
  padding: 30px 30px 30px 30px;
}
.caption {
  display: none;
  text-align: center;
  vertical-align: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  float: center;
  width: 300px;
  height: 200px;
  opacity: .7;
}
.caption h6, .caption p {
  color: blue;
  text-align: center;
  background-color: red;
}
.caption h6 {
  font-family: "Raleway";
  font-size: 15px;
  font-style: bold;
  color: black;

}
.grid-block-container img{
  text-align: center;
  vertical-align: center;
  background-color: yellow;
}
#long-header {
  background-color: #66da59;
  color: white;
  text-align: center;
}

#long-header h3{
  margin-top: -80px;
  padding: 100px 20px 0px 20px;
  font-size: 25px;
}
#long-header p{
  font-size: 17px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
#show-nyc-about {                                               /*Heading 1*/ 
  font-family: "Changa One";
  color: white;
  text-align: center;
  letter-spacing: 4px;
  font-size: 50px;
  background-color: none;
  margin-left: -5px
}

#filter {
  background-color: #66da59;
  cursor: pointer;
  color: white;
  font-size: 15px;
  padding-left: 20px;
  letter-spacing: 2px;
  word-spacing: 30px;
  text-align: right;
  vertical-align: top;
}


